body {
    background-color: var(--color-background);
}

h2 {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: var(--color-primary);
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

nav li {
    list-style-type: none;
    display: none
}

header {
    background-color: var(--color-primary);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 56px;
    width: 56px;
}

.landing-section {
    background-image: url("../assets/img/cappadocia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlights-section {
    padding-top: 80px;
}

.highlights-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 24px;
}
