body {
    background-color: var(--color-background);
}

h2 {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--color-primary);
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

nav li {
    list-style-type: none;
    display: none;
}

header {
    background-color: var(--color-primary);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 56px;
    width: 56px;
}

.landing-section {
    background-image: url("../assets/img/cappadocia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlights-section {
    padding-top: 5em;
}

.highlights-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625em;
    padding-bottom: 1.5em;
}

.slider {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  position: absolute;
  display: flex;
  width: 300%;
  transition: all 1s ease-in-out;
}

.slide { 
    width: calc(100% / 3); 
}

.slider input[value="one"]:checked ~ .slider-wrapper { transform: translateX(calc(100% / 3)); }
.slider input[value="two"]:checked ~ .slider-wrapper { transform: translateX(0); }
.slider input[value="three"]:checked ~ .slider-wrapper { transform: translateX(calc(-100% / 3)); }

.faq-section {
    padding-top: 5em;
}

.faq-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625em;
    padding-bottom: 1.5em;
}