:root {
    --color-primary:rgba(78, 164, 135, 1);
    --color-secondary:rgba(241, 201, 83, 1);
    --color-text-primary:rgba(84, 55, 13, 1);
    --color-text-secondary:rgba(255, 255, 255, 1);
    --color-background:rgba(255, 255, 255, 1);
}